
$color-dark-blue:#003664;
$color-dark-brown:#48220f;
$color-cream:#ffffdb;
$color-green:#ccc696;
$image-page-background:"/images/Login-bkgd.jpg";
$image-logo:"/images/logo.png";
$image-icon-logo:"/images/icon-logo.png";

/// links

$link-color:#333d49;

/// nav
$nav-color-light: $color-cream;
$nav-color-dark: $color-green;

$nav-width:275px;
$nav-width-closed:80px;

/// homepage

$home-links-bgcolor:rgba(white, 0.7);

// slide out

$slide-out-bgcolor:white;
$slide-out-heading-bgcolor:$color-dark-brown;
$slide-out-heading-color:$color-cream;