body {
    //background:url($image-page-background) #2859b6 no-repeat center center fixed;
    background-size:cover;
}
.content {
    margin:0;
    position: relative;
}
a {
    color:$link-color;
}

