.slide-out {
    width:100%;
    background-color:$slide-out-bgcolor;
    h1 {
        margin:0;
        padding:30px;
        font-weight:bold;
        font-size:30px;
        min-height:92px;
        background-color:$slide-out-heading-bgcolor;
        color:$slide-out-heading-color;


    }
    .slide-out-content {
        > .row {
            margin:0;
        }
    }
}