
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
bower_modules/
plugins/
.sass-cache/

.vagrant/
.idea/
.sublime-*
.zedstate
zed::*
*.orig
*.csv
/sublime-gulp.log
/npm-debug.log
data/

platforms/platforms.json

platforms/android/*
!platforms/android/AndroidManifest.xml

platforms/ios/*
!platforms/ios/Q-XRay

platforms/ios/Q-XRay/*
!platforms/ios/Q-XRay/config.xml
/changelog.txt

# ignore compiled files

www/css/*
www/scripts.js
